@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

/* GENERAL */
html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav.navbar.navbar-dark.transparent,
.dropdown-menu {
  background: rgba(0, 0, 0, 0.6) !important;
}

.nav-link:hover {
  font-weight: 600;
}

.dropdown-menu > a:hover {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

footer {
  flex-shrink: 0;
  width: 100%;
}

.border-right {
  border-right: 1px solid white;
}
.border-left {
  border-left: 1px solid white;
}

/* INDEX */

.carousel img {
  max-height: 95vh;
  object-fit: cover;
  object-position: center;
}

.carousel-caption,
.transparent {
  background: rgba(90, 90, 90, 0.5);
}

.main-text {
  position: absolute;
  bottom: 50%;
  left: 20%;
  width: 60%;
  color: #fff;
}

.main-text a {
  font-size: clamp(1rem, 5vw, 4rem);
  text-shadow: 2px 2px 4px #000;
}

/*  PRODUCTOS */

#productos-gallery .card-link {
  color: inherit;
}

#productos-gallery .card-link .card-title {
  transition: transform 0.5s ease;
}

#productos-gallery .card-link:hover .card-title {
  transform: scale(1.2);
}

#contacto {
  background: url("/img/contacto2.jpg");
  padding: 1rem;
  background-size: cover;
  background-position: center;
}
#contacto h1,
#contacto a {
  margin: 3rem;
}

/* PRODUCTOS GALLERY*/

#productos-gallery {
  margin-top: 100px;
}

.card-img-top {
  height: 35vh;
  object-fit: cover;
}

/*PRODUCTOS -COCINAS-LIVIN-ETC*/
#producto-main {
  margin-top: 2rem;
  flex: 1 0 auto;
}

#producto-main .gallery img,
#producto-main .gallery a {
  width: 100%;
  height: 100%;
}

/* NOSOTROS */
#nosotros-header .jumbotron {
  background: url("/img/nosotros.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
}

#nosotros-header .jumbotron h1 {
  text-shadow: 2px 2px 4px #000;
}

#nosotros-principal #valores.container img {
  width: 30%;
}

/* CONTACTO */
#contacto-header .jumbotron {
  background: url("/img/contacto2.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
}

#contacto-header .jumbotron h1 {
  text-shadow: 2px 2px 4px #000;
}

#contacto-main {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

#contacto-main hr {
  border-top: 2px solid #ccc;
}

#contacto-main h5.mail-wrap {
  overflow: hidden;
  word-break: break-all;
  text-overflow: clip;
}

#contacto-main a,
footer div a {
  color: #fff;
  text-decoration: none;
}

footer div a:hover {
  color: #fff;
}

iframe {
  display: block;
  width: 100%;
  height: 30vh;
  margin: 0;
}

i.fas,
i.fa,
i.far,
i.fab {
  color: #0a0a0a;
}
/* MEDIA */

@media (max-width: 768px) {
  #contacto-main h1 {
    font-size: 4rem;
  }
  #contacto-main .container-fluid {
    /* width: 75%; */
    width: 540px;
    margin: 0 auto;
  }
}

@media (max-width: 960px) {
  .fixed-top {
    position: static;
    top: 0;
    left: 0;
  }

  #navbar {
    background-color: #111;
  }
}
